*~/IsFeatPopnOL.txt
/IsFeatPopnOL.txt
/IsNOTWellAboveBG.txt
/RawDataNOCtrl.txt
/RawDataNOCtrlWABKGandISF.txt
/1_ballgown_import_diff.R~
/1_ballgown_import_diff.R~~
/2_edgeR_diff.R~
/4_compareArray.R~
/5_enrichment.R~
/.Rhistory
/additional_files/file1_data_curation.tex~
/RUVseq.R~
/2b_edgeR_diff.R~
/data_curataion.R~
