*~
*.aux
*.swp
/IsFeatPopnOL.txt
/IsFeatPopnOL.txt
/IsNOTWellAboveBG.txt
/RawDataNOCtrl.txt
/RawDataNOCtrlWABKGandISF.txt
/1_ballgown_import_diff.R~
/1_ballgown_import_diff.R~~
/2_edgeR_diff.R~
/4_compareArray.R~
/5_enrichment.R~
/.Rhistory
/additional_files/file1_data_curation.tex~
/RUVseq.R~
/2b_edgeR_diff.R~
/data_curataion.R~
.4_compareArray.R.swp
.5_clustering.R.swp
.6_enrichment.R.swp
.A_data_curataion.R.swp
.3_annotations.R.swp
.A_data_curataion.R.swo
additional_files/tex/SI_clusters/.clusterTablesCombined.tex.swo
additional_files/tex/SI_clusters/.gene_list.swp
additional_files/tex/SI_clusters/copyOFclusterSI.tex
additional_files/tex/clusterTEST1_MF_Ef_Day7Up_1.tex
additional_files/tex/SI_clusters/table_rawcounts.log
additional_files/tex/SI_clusters/table_rawcounts.pdf
manuscript/tex_bmc_format/.manuscript_rnaseq.tex.swo
manuscript_rnaseq.log
.2_edgeR_diff.R.swo
.4_compareArray.R.swo
.5_clustering.R.swo
.display.txt
EfMm_4-mds.png
5_clustering_recovered.R
.2_edgeR_diff.R.swp
*.log
/*.log
Supplement/tex/cluster*
