*~
*.aux
*.swp
/IsFeatPopnOL.txt
/IsFeatPopnOL.txt
/IsNOTWellAboveBG.txt
/RawDataNOCtrl.txt
/RawDataNOCtrlWABKGandISF.txt
/1_ballgown_import_diff.R~
/1_ballgown_import_diff.R~~
/2_edgeR_diff.R~
/4_compareArray.R~
/5_enrichment.R~
/.Rhistory
/additional_files/file1_data_curation.tex~
/RUVseq.R~
/2b_edgeR_diff.R~
/data_curataion.R~
figures/*
.4_compareArray.R.swp
.5_clustering.R.swp
.6_enrichment.R.swp
.A_data_curataion.R.swp
additional_files/tex/SI_clusters/.clusterTablesCombined.tex.swp
additional_files/tex/SI_clusters/clusterTablesCombined.aux
additional_files/tex/SI_clusters/clusterTablesCombined.log
additional_files/tex/SI_clusters/clusterTablesCombined.pdf
additional_files/tex/SI_clusters/r.tex
additional_files/tex/SI_clusters/x.tex
.3_annotations.R.swp
.A_data_curataion.R.swo
additional_files/tex/SI_clusters/.clusterTablesCombined.tex.swo
additional_files/tex/SI_clusters/.gene_list.swp
additional_files/tex/SI_clusters/copyOFclusterSI.tex
additional_files/tex/clusterTEST1_MF_Ef_Day7Up_1.tex
figures/Ef_genes_hclust.pdf
figures/Ef_genes_mds.pdf
figures/ef.percentage.png
figures/ef.read.numbers-early-late.png
figures/ef.read.numbers-immune-status.png
figures/ef.read.numbers-timepoints.png
figures/ef.read.numbers.png
figures/heatplot_Ef.DEG.pdf
figures/heatplot_Ef.DEG.png
figures/heatplot_Ef.DEG_PuOr.pdf
figures/pheatmap_Ef_DEG.pdf
figures/pheatmap_Ef_DEG.png
figures/pheatmap_Ef_DEG_PuOr.pdf
figures/pheatmap_Ef_DEG_test.png
additional_files/tex/SI_clusters/table_rawcounts.log
additional_files/tex/SI_clusters/table_rawcounts.pdf
manuscript/tex_bmc_format/.manuscript_rnaseq.tex.swo
manuscript_rnaseq.log
.2_edgeR_diff.R.swo
.4_compareArray.R.swo
.5_clustering.R.swo
.display.txt
EfMm_4-mds.png

